<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Gallery</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
     <!-- Navigation Bar -->
     <nav>
        <ul>
            <li><a href="{{ url_for('dashboard') }}" class="button">Home</a></li>
            <li> <a href="{{ url_for('upload_file') }}" class="button">Upload Documents</a></li>
            <li><a href="about.html" class="button">About</a></li>
        </ul>
    </nav>
    <h1>Template Gallery</h1>
    <!-- Flash Messages -->
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <ul>
        {% for template in templates %}
            <li>
                {{ template.name }}
                <form action="{{ url_for('delete_template', template_id=template.id) }}" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% else %}
            <li>No templates available.</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('dashboard') }}" class="button">Back to Home</a>

</body>
</html>
